<div id="twitter-right">
<div id="score_strength" class="box_analytics" style="margin-right:40px;">
    <div class="score">54<span class="score_title"></span></div>
    <div class="score_title">Positive</div>
</div>
<div id="score_sentiment" class="box_analytics">
    <div class="score">12</div>
    <div class="score_title">Negative</div>
    <br />
</div>
<div id="score_passion" class="box_analytics" style="margin-right:40px; margin-bottom:10px;">
    <div class="score">56<span class="score_title"></span></div>
    <div class="score_title">Neutral</div>
</div>
<div id="score_reach" class="box_analytics" style="margin-bottom:10px;">
    <div class="score"><span class="score_title"></span></div>
    <div class="score_title"></div>
</div>

</div>