
<div id="pchart"></div>
<div id="cchart"></div>
<div id="chart"></div>
{% for element_list in tweets %}
    {% for j in element_list.statuses %}
       <h4 style="margin-top:40px;">
             <a href="http://twitter.com/{{ j.user.screen_name }}/status/{{ j.id }}" target="_blank" title="Movie #Mersel explained about #medical crimes.Asusual #Atlee nailed in sentiment.100% villathanam by #SJSuriya. #merselarasan dance vijay💟">{{ j.text }}</a>
       </h4>
       <div class="description"></div>
       <div class="info"><p>
            <a href="http://twitter.com/{{ j.user.screen_name }}/status/{{ j.id }}" target="_blank" class="link">twitter.com/{{ j.user.screen_name }}/status/{{ j.id }}
            </a>
            <br /><b>Created at:</b> {{ j.created_at }}
            <img src="{{ j.user.profile_image_url_https }}" class="user_image" /> {{ j.user.screen_name }}
             <a href="http://twitter.com">&nbsp;twitter</a></p>
            
       </div>
    {% endfor %}
{% endfor %}
<script type="text/javascript"> 

  var a = JSON.parse("{{whenCreated}}".replace(/&#39;/g,`"`))
  var dates_a={}
  Object.keys(a).forEach(function(x){
    dates_a[new Date(x).getTime()/1000]=a[x]
  })
  let data = {
    labels: Object.keys(a),
    datasets: [
      {
        title: "Created today", color: "light-blue",
        values: Object.values(a)
      }
    ]
  };
  let chart = new Chart({
    parent: "#chart", // or DOM element
    title: "Tweets per day",
    data: dates_a,
    type: 'heatmap', // or 'line', 'scatter', 'pie', 'percentage'
    height: 250
  });

  var b = JSON.parse("{{dayOfWeek}}".replace(/&#39;/g,`"`))
  let bdata = {
    labels: Object.keys(b),
    datasets: [
      {
        title: "Created today", color: "light-blue",
        values: Object.values(b)
      }
    ]
  };
  let bchart = new Chart({
    parent: "#pchart", // or DOM element
    title: "Tweets in a week",
    data: bdata,
    type: 'percentage', // or 'line', 'scatter', 'pie', 'percentage'
    height: 250
  });

  var c = JSON.parse("{{dayOfWeek}}".replace(/&#39;/g,`"`))
  let cdata = {
    labels: Object.keys(b),
    datasets: [
      {
        title: "Created today", color: "light-blue",
        values: Object.values(b)
      }
    ]
  };
  let cchart = new Chart({
    parent: "#cchart", // or DOM element
    title: "Tweets in a week",
    data: cdata,
    type: 'line', // or 'line', 'scatter', 'pie', 'percentage'
    height: 250
  });
 
</script>